$black:  #22292f;

$grey-blue: #dae1e7;

* {
    box-sizing: border-box;
    font-size: 1rem;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: $black;
    background: $grey-blue;
    font-family: system-ui;
}

.resizer {
    background: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem 0 rgba($black, .10), 0 .5rem 1.5rem 0 rgba($black, .05);

    .form-field {
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;

        &:hover {
            background: lighten($grey-blue, 5%);
        }

        label {

        }

        input {
            position: absolute;
            opacity: 0;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
        }
    }

    .resize-to {
        display: flex;
        align-items: center;
        background: $grey-blue;


        p {
            margin: 0 1rem;
        }

        input {
            border: 0;
            background: transparent;
            text-align: center;
            padding: 1rem;
        }
    }

    button {
        border: 0;
        padding: 1rem;
        font-weight: 600;
        cursor: pointer;

        &:hover {
            background: darken($grey-blue, 25%);
            color: white;
        }
    }
}